body{
    height: 100vh;
    display: flex;
    align-items: center;
}
.car1{
    right: 100%;
    width: 200px;
    height: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: Move;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
.roof{
    position: relative;
    width: 120px;
    height: 35px;
    background-color: blueviolet;
    border-radius: 25px 25px 0 0;
    transition: all .3s ease-in-out;
}
.carcas{
    position: relative;
    display: flex;
    height:80px;
    width: 200px;
    justify-content: end;
    background-color: blueviolet;
    border-radius: 25px;
    transition: all .3s ease-in-out;
}
.window{
    position: relative;
    width: 70px;
    height: 40px;
    background-color: aqua;
    margin: 10px;
    border-radius: 10px;
}
.colesa{
    position: relative;
    width: 180px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.circle-left{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
}
.circle-right{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
}

@keyframes Move {
    0%{
        right: 100%;
        transform: rotate(0deg);
    }
    /* 25%{
        margin-left: 100px;
        transform: rotate(90deg);
    }*/
    /* 75%{
        margin-left: 600px;
        transform: rotate(270deg);
    } */
    100%{
        right: 50px;
        transform: rotate(360deg);
    }
}